[settings]
SECRET_KEY=

DATABASE_NAME=
DATABASE_USER= 
DATABASE_PASSWORD= 
DATABASE_HOST=
DATABASE_PORT=

THRESH_ATTR=
THRESH_VALUE=

# OPTIONAL
# --------
REMOTE_SERVER=

GOOGLE_APPLICATION_CREDENTIALS=
GCP_PROJECT_ID=
BIGQUERY_LOCATION=
BIGQUERY_DATASET=

SENTRY_DSN=

BINANCE_API_KEY=
BINANCE_API_KEY_SECRET=
