[settings]
SECRET_KEY=

DATABASE_NAME=
DATABASE_USER= 
DATABASE_PASSWORD= 
DATABASE_HOST=
DATABASE_PORT=

PRODUCTION_DATABASE_NAME=
PRODUCTION_DATABASE_HOST=
PROXY_DATABASE_PORT=

DOMAIN_NAME=

# OPTIONAL
# --------
GOOGLE_APPLICATION_CREDENTIALS=
GCS_BUCKET_NAME=

SENTRY_DSN=

BINANCE_API_KEY=
BINANCE_API_KEY_SECRET=
