[settings]
SECRET_KEY=

DATABASE_NAME=
DATABASE_USER= 
DATABASE_PASSWORD= 
DATABASE_HOST=
DATABASE_PORT=

# OPTIONAL
# --------
PROXY_DATABASE_PORT=

PRODUCTION_DATABASE_HOST=
PRODUCTION_API_URL=

GOOGLE_APPLICATION_CREDENTIALS=
GCS_BUCKET_NAME=

SENTRY_DSN=

BINANCE_API_KEY=
BINANCE_API_KEY_SECRET=
